* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     font-family: 'Lato', sans-serif;
}

#header {
    background-color: #EEEEEE;
}

  #header img{
      width: 110px;
      height: 70px;
      margin: 10px 0 10px 70px;
  }

  #header ul {
      list-style-type: none;
  }

  #header ul li {
      display: inline;
  }

  #header nav {
      margin-top: 30px;
      align-items: center;
  }

 #header .nav-link a{
      text-decoration: none;
      color: #000000;
      font-size: 16px;
      font-weight: 200;
      margin-right: 60px;
  }
#md div {
    margin-bottom: 10px;
}
#md h1 {
    font-weight: bold;
}
#md input {
    padding: 5px;
    width: 300px
}
#md input[type=submit] {
    border: 0px solid black;
    border-radius: 2px;
    background-color: #f1c40f;
    padding: 10px 30px;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}
